*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Blue: hsl(246, 80%, 60%);

    --Light-red-work: hsl(15, 100%, 70%); /* work */
    --Soft-Blue: hsl(195, 74%, 62%); /* play */
    --Light-red-study: hsl(348, 100%, 68%); /* study */
    --Lime-green: hsl(145, 58%, 55%); /* exercise */
    --Violet: hsl(264, 64%, 52%); /* social */
    --Soft-orange: hsl(43, 84%, 65%); /* self-care */

    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Dark-blue-hover: hsl(235, 46%, 35%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
}

body {
    line-height: calc((24 / 16) * 1rem);
    background-color: var(--Very-dark-blue);
    color: white;
    font-family: 'Rubik', 'sans-serif';
}

main {
    padding: calc((80 / 16) * 1rem) calc((30 / 16) * 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: calc((400 / 16) * 1rem);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: calc((30 / 16) * 1rem);
}

/* container-report  */
.container-report {
    display: flex;
    flex-direction: column;
    background-color: var(--Dark-blue);
}

.report {
    display: flex;
    padding: calc((25 / 16) * 1rem);
    background-color: var(--Blue);
    gap: calc((16 / 16) * 1rem);
    align-items: center;
}

.user-image {
    width: calc((70 / 16) * 1rem);
    border: calc((2 / 16) * 1rem) solid white ;
    border-radius: 50%;
}

.report h1 {
    font-size: calc((24 / 16) * 1rem);
    font-weight: 100;
}

.report-text {
    position: relative;
    bottom: calc((5 / 16) * 1rem);
}

.period {
    display: flex;
    justify-content: space-around;
    padding: calc((20 / 16) * 1rem) 0;
    list-style-type: none;
}

.button {
    border: none;
    background-color: transparent;
    font-weight: 200;
}

.button:hover {
    color: white;
    cursor: pointer;
}

/* work-card */
.container-work {
    background-color: var(--Light-red-work);
    background-image: url(images/icon-work.svg);

}

/* play-card */
.container-play {
    background-color: var(--Soft-Blue);
    background-image: url(images/icon-play.svg);
}

/* study */
.container-study {
    background-color: var(--Light-red-study);
    background-image: url(images/icon-study.svg);
}

/* exercise */
.container-exercise {
    background-color: var(--Lime-green);
    background-image: url(images/icon-exercise.svg);
    background-position: top calc((-4 / 16) * 1rem) right calc((20 / 16) * 1rem) !important; 
}

/* social */
.container-social {
    background-color: var(--Violet);
    background-image: url(images/icon-social.svg);
}

/* self-care */
.container-selfcare {
    background-color: var(--Soft-orange);
    background-image: url(images/icon-self-care.svg);
}

/* general */
.report-text p, .last {
    font-size: calc((14 / 16) * 1rem);
    font-weight: 200;
}

.button, .last, .report-text p {
    color: var(--Pale-Blue);
}

.button, .title {
    font-size: calc((18 / 16) * 1rem);
}

.container-report, .report {
    border-radius: calc((16 / 16) * 1rem)
}

.time-card {
    background-position: top calc((-12 / 16) * 1rem) right calc((20 / 16) * 1rem);
    background-repeat: no-repeat;
    cursor: pointer;
}

.card-main {
    background-color: var(--Dark-blue);
    margin-top: calc((35 / 16) * 1rem);
    padding: calc((25 / 16) * 1rem);
    display: flex;
    flex-direction: column;
    row-gap: calc((14 / 16) * 1rem);
}

.card-header, .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time-card, .card-main {
    border-radius: calc((16 / 16) * 1rem);
}

.hours {
    font-size: calc((30 / 16) * 1rem);
    font-weight: 300;
}

.card-main:hover {
    background-color: var(--Dark-blue-hover);
}

.ellipsis-container {
    line-height: 1;
    padding: 0 calc((1 / 16) * 1rem);
}
  
.ellipsis-container:hover path {
    fill: white;
}

@media (min-width: 1000px) {
    main {
        height: 100vh;
    }
    
    .container {
        max-width: calc((1000 / 16) * 1rem);
        grid-template-columns: repeat(4, 1fr);
        gap: calc((30 / 16) * 1rem);
    }

    .container-report {
        grid-row: span 2;
    }

    .report {
        flex-direction: column;
        align-items: start;
        padding-bottom: calc((80 / 16) * 1rem);
        gap: calc((40 / 16) * 1rem);
    }

    .report-text h1 {
        font-size: calc((40 / 16) * 1rem);
        line-height: calc((40 / 16) * 1rem);
    }

    .period {
        flex-direction: column;
        gap: calc((16 / 16) * 1rem);
        padding: calc((30 / 16) * 1rem);
    }

    .card-body {
        flex-direction: column;
        align-items: start;
        gap: calc((25 / 16) * 1rem);
    }

    .hours {
        font-size: calc((50 / 16) * 1rem);
    }

    .card-main {
        gap: calc((45 / 16) * 1rem);
    }
}