*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Blue: hsl(246, 80%, 60%);

    --Light-red-work: hsl(15, 100%, 70%); /* work */
    --Soft-Blue: hsl(195, 74%, 62%); /* play */
    --Light-red-study: hsl(348, 100%, 68%); /* study */
    --Lime-green: hsl(145, 58%, 55%); /* exercise */
    --Violet: hsl(264, 64%, 52%); /* social */
    --Soft-orange: hsl(43, 84%, 65%); /* self-care */

    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Dark-blue-hover: hsl(235, 46%, 35%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
}

body {
    font-family: 'Rubik', 'sans-serif';
    display: grid;
    place-content: center;
    background-color: var(--Very-dark-blue);
    color: white;
    height: 100dvh;
}

.container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    width: 70%;
    justify-self: center;
}

.container-report {
    grid-row: span 2;
    display: grid;
}

.time-card {
    display: grid;
    background-repeat: no-repeat;
    background-position: top calc((-12 / 16) * 1rem) right calc((20 / 16) * 1rem);
}

.container-work {
    background-color: var(--Light-red-work);
    background-image: url(/images/icon-work.svg);
}

.container-play {
    background-color: var(--Soft-Blue);
    background-image: url(/images/icon-play.svg);
}

.container-study {
    background-color: var(--Light-red-study);
    background-image: url(/images/icon-study.svg);
}

.container-exercise {
    background-color: var(--Lime-green);
    background-image: url(/images/icon-exercise.svg);
    background-position-y: 0;
}

.container-social {
    background-color: var(--Violet);
    background-image: url(/images/icon-social.svg);
}

.container-selfcare {
    background-color: var(--Soft-orange);
    background-image: url(/images/icon-self-care.svg);
}

.report {
    background-color: var(--Blue);
    padding: 2rem;
}

.card-main, .container-report  {
    background-color: var(--Dark-blue);
}

.title {
    font-size: 1rem;
    position: relative;
}

.hours {
    font-size: 3rem;
    margin-top: 1.3rem;
    margin-bottom: 0.8rem;
}

.time-card, .card-main, .container-report, .report {
    border-radius: 1rem;
}

.card-main {
    padding: 1.5rem 2rem;
    margin-top: 2.8rem;
}

.period {
    padding: 1.5rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.period button {
    display: block;
    border: none;
    background-color: var(--Dark-blue);
    font-size: 1rem;
}

.user-image {
    background-color: white;
    border-radius: 50%;
    width: 40%;
    display: flex;
    padding: 0.1rem;
}

.container-report img {
    width: 100%;
    place-content: center;
}

.report-text {
    margin-top: 2rem;
}

.report h1 {
    font-weight: 100;
    font-size: 2.5rem;
}

.period button, .last, .report-text p {
    color: var(--Pale-Blue);
}

.last, .report-text p {
    font-size: 0.8rem;
}

.ellipsis-container {
    line-height: 1;
    padding: 0 calc((1 / 16) * 1rem);
}
  
svg:hover path {
    fill: white;
    cursor: pointer;
}

svg {
    position: absolute;
    top: 50%;
    right: 0;
}

.button:hover {
    color: white;
    cursor: pointer;
}

.time-card:hover {
    cursor: pointer; 
}

.time-card:hover .card-main {
    background-color: var(--Dark-blue-hover);
    cursor: pointer;
}